.Clickerr{
  width: 420px;
  height: 350px;
  padding: 60px 100px;
  background-color: rgb(224, 230, 199);
  border-radius: 10px;
  -webkit-box-shadow: 20px -3px 31px 25px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 20px -3px 31px 25px rgba(34, 60, 80, 0.2);
box-shadow: 20px -3px 31px 25px rgba(34, 60, 80, 0.2);
}
.card{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
